<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>





<div class="container">
    <div class="row-flex">
        <div class="opening-time">
            <h2 class="top-menu">Hello {{ user.username }}!</h2>
            <h3>You are logged in as : {{ user.profile.user_role }}</h3>
            <h3>
                Opening times
            </h3>
            <p>
                <span>Monday—Thursday: 08:00 — 22:00</span>
                <span>Friday—Saturday: 09:00 — 23:00 </span>
                <span>Sunday: 10:00 — 17:00</span>
            </p>
        </div>
        <div class="contact-address">
            <h3>
                Contact
            </h3>
            <p>
                <span>010-002-0008</span>
                <span>12 Pine Street</span>
                <span>Omaha 68106, NE</span>
            </p>

        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>

</body>
{% endblock %}
</html>
